@use 'variables';



.contact-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: variables.$second-background-color;
    gap: 40px ;

    .contact-h2, .contact-paragraph {
        color: black;
    }

    .contact-labels {
        color: black;
        font-size: 20px;
    }

    .label-div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        #firstName, #lastName, #email, #message  {
            padding: 15px;
        }
    }

    .contact-me-info {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 30PX;
    }
}

