@use 'variables';

footer {
    display: flex;
    background-color: variables.$background-color;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    justify-content: space-between;

    a {
        color: variables.$secondary-color;
        margin: 0 10px;

        &:hover {
            color: variables.$hover-color;
        }
    }

    .subscription-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .company-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    input.email-input {
        border: solid;
        padding: 20px;
        background-color: white;
    }
}
