@use "variables";

header {
  background: variables.$background-color;
  color: variables.$text-color;
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
  position: relative;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .li-nav {
    font-family: variables.$font-main;
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    color: variables.$text-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: variables.$text-color;
      text-underline-offset: 4px;
      text-decoration-thickness: 1px;
    }
  }
}

.header-left {
  display: flex;
  position: absolute;
  top: 0; 
  left: 0;
  margin: 30px;
}

.header-right {
    display: flex;
    position: absolute;
    top: 0; 
    right: 0;
    align-items: center; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    margin: 30px;
    gap: 30px;

    span.cart-count {
      font-size: 20px;
      position: absolute;
      top: -5px;
    }

}

.contact-button{
    color: black;
    font-family: variables.$font-paragraph;
    font-size: 13px;
}