// Variables
$primary-color: #800020; 
$secondary-color: #ffcccb; 
$background-color: #401410;
$second-background-color: #e7dacb;
$text-color: #FFFFFF;
$border-color: #af4d60; 
$hover-color: #c0392b; 


$gradient: linear-gradient(135deg, #800020, #af4d60);

// 🖋 Font
$font-heading: 'Lora', sans-serif;
$font-main: 'Playfair Display', serif;
$font-paragraph: 'Merriweather';
