@use 'variables';


.boutique-div{
 background-color: variables.$second-background-color;
 padding: 80px;


.boutique-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: variables.$second-background-color;
    margin: 0;
    color: black;

}

.boutique-paragraph, .boutique-h3{
    color: black;
}

img.cart-item-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
}
}